/* Variables */
:root {
  --padding-side: 2rem;
  --colour-ss4c-yellow: #ffdf4f;
  --colour-ss4c-orange: #f28241;
  --colour-ss4c-red: #b92600
  --colour-ss4c-yellow-light: #fff266;
  --color-black: #000000;
  --font-size-default: 1.5rem;
}
